/* Geist font loaded from Google Fonts in index.html */

@font-face {
  font-family: 'Grenette';
  src: url(./fonts/Grenette-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
